@import "variables"; /* src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  min-height: 90vh;
}

.bg-image {
  background-image: url(/media/images/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.post-bg {
  background-image: url(/media/images/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.max-width {
  max-width: 700px;
}

.post {
  transition: transform 200ms ease-in-out;
}

.post:hover {
  cursor: pointer;
}

.avatar {
  width: clamp(3em, 8vw, 6em);
  aspect-ratio: 1;
}

.avatar-sm {
  width: 7em;
  aspect-ratio: 1;
}

.logo {
  max-width: 1.5em;
  aspect-ratio: 1;
}

.form-control {
  border-radius: 0;
  // border: 1px solid $light;
  background-color: rgb(246, 246, 246);
}

.customButton {
  border-radius: 0;
  margin: 0;
}

.btn {
  border-radius: 0;
}

.myPosts {
  height: 12.5em;
  overflow-y: scroll;
  scrollbar-width: none;
}

.loadingContainer {
  min-height: 50em;
}