@import "variables"; /* src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  min-height: 90vh;
}

.bg-image {
  background-image: url(/media/images/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.post-bg {
  background-image: url(/media/images/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.max-width {
  max-width: 700px;
}

.post {
  transition: transform 200ms ease-in-out;
}

.post:hover {
  cursor: pointer;
}

.avatar {
  width: 4em;
  border-radius: 100vw;
  aspect-ratio: 1;
}

.avatar-sm {
  width: clamp(4.5em, 10vw, 7em);
  aspect-ratio: 1;
}

.logo {
  max-width: 1.5em;
  aspect-ratio: 1;
}

.form-control {
  border-radius: 0;
  // border: 1px solid $light;
  border: none;
}

.customButton {
  border-radius: 0;
  margin: 0;
}

.btn {
  border-radius: 0;
}

.myPosts {
  min-height: fit-content;
  max-height: 15em;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: mandatory;
}

.loadingContainer {
  min-height: 50em;
}

.banner {
  width: 100vw;
  max-height: 15em;
}

.width {
  width: clamp(5em, 10vw, 3em);
}